* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

body {
  background: #efefef;
}

.nav {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.static-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  background-color: #fff;
  padding-left: 30px;
}

.static-nav .search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.static-nav .search .lupa {
  border: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.static-nav .search .search_real {
  margin-left: 50px;
  border: none;
  height: 24px;
  width: 350px;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.static-nav .right-elements ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.static-nav .right-elements ul .login {
  display: block;
  padding: 10px;
  color: #3b49df;
  margin: 10px;
  border: none;
  font-size: 1em;
  font-weight: 700;
  border-radius: 3px;
  background-color: #efefef;
}

.static-nav .right-elements ul .login:hover {
  background-color: darken #efefef, 10%;
}

.static-nav .right-elements ul .create {
  display: block;
  padding: 10px;
  margin: 10px 30px 10px 10px;
  color: #fff;
  background-color: #3b49df;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  font-weight: 700;
}

.left-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: auto;
  height: auto;
}

.search {
  padding-left: 10px;
}

.content-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-container {
  width: 80%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
}

/* .first-article-content{
    width: 100%;
    height: 100px;
}
.button-article{
    width: 52px;
    height: 32px;
}
.nav-links{
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
}
.right-bar{
    max-width: 30%;
}
 */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.first-title {
  color: #3b49df;
  background: white;
}

.left-bar-wrapper {
  max-width: 22%;
  height: auto;
  padding: 16px;
}

.info-login {
  border-radius: 4px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

.left-title {
  width: 90%;
  background: white;
  margin: 0 0 8px;
  padding: 5px;
}

.left-info {
  width: 90%;
  background: white;
  padding: 5px;
  margin-bottom: 10px;
}

.btn-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background: #3b49df;
  text-align: center;
  color: white;
  margin-bottom: 8px;
}

.btn-create:hover {
  background-color: #1d29b1;
}

.btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background: white;
  text-align: center;
  color: #3b49df;
}

.btn-login:hover {
  background-color: #f2f2f2;
}

.dev-title {
  margin-bottom: 4px;
}

.dev-community, .others {
  padding: 0;
}

.dev-com-list {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 16px 0 0;
  padding: 16px 0;
  color: transparent;
}

.tags {
  overflow-y: scroll;
  max-height: 50vh;
  padding: 0;
}

.tag {
  padding: 8px;
}

.sn {
  width: 90%;
}

.single-tag {
  color: black;
}

.product-bottom {
  color: #3b49df;
}

.middle {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle .middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.middle .middle-header h4 {
  font-size: 25px;
  color: #242424;
}

.middle .middle-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.middle .middle-header .nav-links a {
  margin-left: 15px;
  font-size: 18px;
  color: #242424;
  padding: 10px 5px;
}

.middle .middle-header .nav-links a:hover {
  color: #3B49DF;
  background: #DDDEEE;
  border-radius: 5px;
  padding: 10px 5px;
  border-bottom: 5px solid #3B49DF;
}

.middle .first-article-content {
  margin-top: 0px;
  background-color: #fff;
  border-radius: 10px;
}

.middle .first-article-content .img-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px  0 0 10px;
  margin-bottom: 15px;
}

.middle .first-article-content .img-author .img-conteiner {
  margin-right: 10px;
}

.middle .first-article-content .img-author .img-conteiner img {
  border-radius: 50%;
  width: 35px;
}

.middle .first-article-content .img-author .text-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}

.middle .first-article-content .img-author .text-conteiner .top-text {
  color: #000;
}

.middle .first-article-content .img-author .text-conteiner .down-text {
  color: #575757;
}

.middle .first-article-content .img-author .text-conteiner .top-text:hover {
  background: #F6F6F6;
  color: #000;
}

.middle .first-article-content .img-author .text-conteiner .down-text:hover {
  background: #F6F6F6;
  color: #000;
}

.middle .first-article-content .title {
  width: 75%;
  margin: 0 auto 15px;
  text-align: start;
}

.middle .first-article-content .title h2 {
  cursor: pointer;
}

.middle .first-article-content .title h2:hover {
  color: #3B49DF;
}

.middle .first-article-content .hashtag-conteiner {
  width: 75%;
  margin: 0 auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle .first-article-content .hashtag-conteiner a {
  margin-right: 10px;
  color: #575757;
}

.middle .first-article-content .hashtag-conteiner a span {
  color: #9C9C9C;
}

.middle .first-article-content .hashtag-conteiner a:hover {
  background: #F6F6F6;
  color: #000;
}

.middle .first-article {
  margin-bottom: 10px;
}

.middle .first-article .first-article-content .icons-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: auto;
  padding: 0 0 15px;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner .reaction-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  cursor: pointer;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner .reaction-conteiner i {
  margin-right: 10px;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner .reaction-conteiner:hover {
  background: #F6F6F6;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner .comment-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner .comment-conteiner i {
  margin-right: 10px;
}

.middle .first-article .first-article-content .icons-conteiner .left-conteiner .comment-conteiner:hover {
  background: #F6F6F6;
}

.middle .first-article .first-article-content .icons-conteiner .icons-right .save-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle .first-article .first-article-content .icons-conteiner .icons-right .save-container p {
  margin-right: 10px;
  color: #575757;
}

.middle .first-article .first-article-content .icons-conteiner .icons-right .save-container button {
  padding: 8px 17px;
  border-radius: 5px;
  border: none;
  color: #575757;
}

.middle .first-article .first-article-content .icons-conteiner .icons-right .save-container button:hover {
  background: #BDBDBD;
  color: #000;
}

.middle .img-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px  0 0 10px;
  margin-bottom: 15px;
}

.middle .img-author .img-conteiner-relative {
  position: relative;
  margin-right: 10px;
  /*  margin-right: 10px; */
}

.middle .img-author .img-conteiner-relative img {
  border-radius: 50%;
  width: 35px;
}

.middle .img-author .img-conteiner-relative .img-conteiner-absolute {
  position: absolute;
  left: 11.5px;
  top: 9.5px;
}

.middle .img-author .img-conteiner-relative .img-conteiner-absolute img {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.suscribe-conteiner {
  background: #F5F6FE;
  padding: 35px;
  border-radius: 10px;
  border-top: 2px solid #3B49DF;
  border-right: 5px solid #3B49DF;
  border-bottom: 5px solid #3B49DF;
  border-left: 2px solid #3B49DF;
  margin-bottom: 10px;
}

.suscribe-conteiner .img-text-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0 auto 5px;
}

.suscribe-conteiner .img-text-conteiner .img-conteiner {
  margin: 0 20px 0 0;
}

.suscribe-conteiner .img-text-conteiner .img-conteiner img {
  width: 40px;
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
  border-radius: 5px;
}

.suscribe-conteiner .img-text-conteiner .text-conteiner {
  font-size: 25px;
}

.suscribe-conteiner .img-text-conteiner .text-conteiner span {
  color: #3B49DF;
}

.suscribe-conteiner .h4-conteiner {
  width: 90%;
  margin: 0 auto 30px;
  color: #575757;
}

.suscribe-conteiner .a-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suscribe-conteiner .a-conteiner .btn {
  padding: 10px;
  background: #323EBE;
  color: #fff;
  width: 40%;
  margin: 0 auto 15px;
  font-weight: 500;
  border-radius: 5px;
}

.suscribe-conteiner .a-conteiner .btn:hover {
  background: #1D29B1;
}

.suscribe-conteiner .a-conteiner .a {
  color: #323EBE;
  font-weight: 700;
  padding: 10px 5px;
  width: 40%;
  margin: auto;
}

.suscribe-conteiner .a-conteiner .a:hover {
  background: #ECEDF5;
}

.right-bar {
  margin: 20px;
}

.right-bar .forem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #dbdbdb solid;
  padding: 20px;
  background-color: #F9F9F9;
}

.right-bar .forem a, .right-bar .forem p {
  background-color: #F9F9F9;
}

.right-bar .listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #dbdbdb solid;
  padding: 0;
  background-color: #F9F9F9;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

.right-bar .listings header {
  width: auto;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F9F9;
  border-bottom: 1px #dbdbdb solid;
  padding: 10px;
}

.right-bar .listings header h3 {
  background-color: #F9F9F9;
}

.right-bar .listings header a {
  text-decoration: none;
  color: #3b49df;
  background-color: #F9F9F9;
}

.right-bar .listings .listings-section {
  background-color: #F9F9F9;
  border: 1px #dbdbdb solid;
  padding-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-bar .listings .listings-section h3 {
  display: block;
  background-color: #F9F9F9;
  text-decoration: none;
  color: black;
  margin: 15px auto;
}

.right-bar .listings .listings-section p {
  display: block;
  background-color: #F9F9F9;
  text-decoration: none;
  color: grey;
  margin: 5px auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D6D6D7;
  width: 100%;
}

footer div, footer p, footer a, footer span {
  background-color: #D6D6D7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

footer .loguito {
  background-color: #D6D6D7;
}

footer .loguito a {
  margin-left: 350px;
}

footer .loguito svg {
  background-color: #D6D6D7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
