body {
  background: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.nav {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.static-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  background-color: #fff;
  padding-left: 30px;
}

.static-nav .search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.static-nav .search .lupa {
  border: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.static-nav .search .search_real {
  margin-left: 50px;
  border: none;
  height: 24px;
  width: 350px;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.static-nav .right-elements ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.static-nav .right-elements ul .login {
  display: block;
  padding: 10px;
  color: #3b49df;
  margin: 10px;
  border: none;
  font-size: 1em;
  font-weight: 700;
  border-radius: 3px;
  background-color: #efefef;
}

.static-nav .right-elements ul .login:hover {
  background-color: darken #efefef, 10%;
}

.static-nav .right-elements ul .create {
  display: block;
  padding: 10px;
  margin: 10px 30px 10px 10px;
  color: #fff;
  background-color: #3b49df;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  font-weight: 700;
}

.left-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: auto;
  height: auto;
}

.search {
  padding-left: 10px;
}

.content-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-container {
  width: 90%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
}

.first-article-content {
  width: 100%;
  height: 100px;
}

.button-article {
  width: 52px;
  height: 32px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.right-bar {
  max-width: 30%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.first-title {
  color: #3b49df;
  background: white;
  font-size: 16px;
  line-height: 20px;
}

.left-bar-wrapper {
  max-width: 22%;
  height: auto;
  padding: 16px;
}

.info-login {
  border-radius: 4px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

.left-title {
  width: 90%;
  background: white;
  margin: 0 0 8px;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
}

.left-info {
  width: 90%;
  background: white;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 290;
  text-justify: newspaper;
}

.btn-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background: #3b49df;
  text-align: center;
  color: white;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.btn-create:hover {
  background-color: #1d29b1;
}

.btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background: white;
  text-align: center;
  color: #3b49df;
  font-size: 14px;
  font-weight: 550;
}

.btn-login:hover {
  background-color: #f2f2f2;
}

.dev-title {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
}

.dev-community, .others {
  padding: 0;
  font-size: 14px;
  font-weight: 350;
}

.other-title {
  font-size: 15px;
  font-weight: bold;
}

.dev-com-list {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 16px 0 0;
  padding: 16px 0;
  color: transparent;
}

.tags {
  overflow-y: scroll;
  max-height: 50vh;
  padding: 0;
}

.tag {
  padding: 8px;
  font-size: 15px;
  font-weight: 300;
}

.sn {
  width: 90%;
}

.single-tag {
  color: black;
}

.product-bottom {
  color: #3b49df;
}

.right-bar {
  margin: 20px;
}

.right-bar .forem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #dbdbdb solid;
  padding: 20px;
  background-color: #F9F9F9;
}

.right-bar .forem a, .right-bar .forem p {
  background-color: #F9F9F9;
}

.right-bar .listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #dbdbdb solid;
  padding: 0;
  background-color: #F9F9F9;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

.right-bar .listings header {
  width: auto;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F9F9;
  border-bottom: 1px #dbdbdb solid;
  padding: 10px;
}

.right-bar .listings header h3 {
  background-color: #F9F9F9;
}

.right-bar .listings header a {
  text-decoration: none;
  color: #3b49df;
  background-color: #F9F9F9;
}

.right-bar .listings .listings-section {
  background-color: #F9F9F9;
  border: 1px #dbdbdb solid;
  padding-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-bar .listings .listings-section h3 {
  display: block;
  background-color: #F9F9F9;
  text-decoration: none;
  color: black;
  margin: 15px auto;
}

.right-bar .listings .listings-section p {
  display: block;
  background-color: #F9F9F9;
  text-decoration: none;
  color: grey;
  margin: 5px auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D6D6D7;
  width: 100%;
}

footer div, footer p, footer a, footer span {
  background-color: #D6D6D7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

footer .loguito {
  background-color: #D6D6D7;
}

footer .loguito a {
  margin-left: 350px;
}

footer .loguito svg {
  background-color: #D6D6D7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */