*{
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {

    background: #efefef;
}


// nav, .static-nav ,.logo ,.search ,.buttons, .wrap-container,
// .left-bar-wrapper, .middle, .right-bar, .middle-header, .nav-links,
// .info-login, .first-article, .article-image, .first-article-content,
// .button-article-section, .button-article{
//     border: black 1px solid;
//     width: 100%;
// }
//  .static-nav ,.logo ,.search ,.buttons, .wrap-container,
//  .middle, .right-bar, .middle-header, .nav-links,
//  .first-article, .article-image, .first-article-content,
//  .button-article-section, .button-article{
//      border: black 1px solid;
//      width: 100%;
//  }

.content-inner{border: 1px red dashed;}
.static-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-elements{
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    height: 50px;
}
.search{padding-left: 10px;}
.content-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.wrap-container{
    width: 80%;
    padding: 16px;
    display: flex;   
}

img{width: 100%;}
/* .first-article-content{
    width: 100%;
    height: 100px;
}
.button-article{
    width: 52px;
    height: 32px;
}
.nav-links{
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
}
.right-bar{
    max-width: 30%;
}
 */

//=======Aquí van los estilos de Left SideBar================//
a{text-decoration: none;}
li{list-style: none;}


// .left-bar-container{
//     border: 1px dashed blue;
// }

// .btn-create, .btn-login, h2, .left-info,
// .info-login, .left-title, .social-networks{
//     border: 1px solid gray;
// }
.first-title{

    color:#3b49df;
    background: white;
}

.left-bar-wrapper{
    max-width: 22%;
    height: auto;
    padding: 16px;
}

.info-login{
    
    border-radius: 4px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
.left-title{
    width: 90%;
    background: white;
    margin: 0 0 8px;
    padding: 5px;
}
.left-info{
    width: 90%;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
}
.btn-create{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    background:#3b49df;
    text-align: center;
    color: white;   
    margin-bottom: 8px;
}
.btn-create:hover{
    background-color: darken(#3b49df, 15%);
}
.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    background: white;
    text-align: center;
    color: #3b49df;   
}
.btn-login:hover{
    background-color: darken(white,5%);
}

.dev-title{
    margin-bottom: 4px;
}
    
.dev-community, .others{
    padding: 0;
}
    
.dev-com-list{
    color: black;
    display: flex;
    align-items: center;
    padding: 8px;
}
    
.social-networks{
   
    display: flex;
    justify-content: start;
    margin: 16px 0 0;
    padding: 16px 0;
    color: transparent;
}

.tags{
    overflow-y: scroll;
    max-height: 50vh;
    padding: 0;
}
.tag{
    padding: 8px; 
}

.sn{
    width: 90%;
}

.single-tag{
    color: black;
}
.product-bottom{
    color:#3b49df;
}



// Middle Styles

.middle {
    max-width: 60%;
    display: flex;
    flex-direction: column;

    .middle-header {

        display: flex;
        align-content: flex-start;
        align-items: center;
        justify-content: space-between;
        
        .nav-links {

            display: flex;
            margin-right: 10px;

           a {
               margin-left: 10px;
           }
        }
    }
}

.middle {
    .first-article-content {
        margin-top: 0px;
        background-color: #fff;
        .img-author {
            display: flex;
            padding: 10px  0 0 10px;
            margin-bottom: 15px;
            
            .img-conteiner{
                margin-right: 10px;
               
                img{
                    border-radius: 50%;
                    width: 35px;
                }
            }
            .text-conteiner {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .title {
            width: 75%;
            margin: auto;
            text-align: start; 
        }
        .hashtag-conteiner {
            width: 75%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
        }
    }
}

.middle {
    .first-article{
        margin-bottom: 10px;
        .first-article-content{
            .icons-conteiner{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 75%;
                margin: auto;

                .left-conteiner{
                    display: flex;
                    .reaction-conteiner{
                        display: flex;
                        align-items: center;
                        margin-right: 18px;
                        i{
                            margin-right: 10px;
                        }

                    }
                    .comment-conteiner {
                        display: flex;
                        align-items: center;
                        i{
                            margin-right: 10px;
                        }
                    }
                }
                .icons-right {
                    .save-container {
                        display: flex;
                        p {
                            margin-right: 10px;
                        }
                    }
                }


            }

        }

    }

}

// absolute image styles - Middle



.middle {
           .img-author {
                display: flex;
                padding: 10px  0 0 10px;
                margin-bottom: 15px;
                
            .img-conteiner-relative{
                position: relative;
                margin-right: 10px;
               
               /*  margin-right: 10px; */
                img{
                    border-radius: 50%;
                    width: 35px;
                }
                .img-conteiner-absolute{
                    position: absolute;
                    left:11.5px;
                    top: 9.5px;
                    img{
                        transform: scale(.65);
                    }
                }
            }
           
        }
       
        
    }
